.header {
  width: 1024px;
  height: 60px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 36px;
  font-weight: bold;
}
.nav, .nav__link {
  color: #333333;
  margin-left: 20px;
}
.nav {
  font-weight: bold;
}
